#exo3 label {
  color: rgb(67, 67, 211);
}

#exo3 input[type="text"] {
  font-size: 24px;
}

#exo3 #email-container {
  position: relative;
}

#exo3 #email-tooltip {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  color: red;
}

.wrapper {
  padding-bottom: 282px;
}

.author {
  font-weight: bold;
  color: red;
}
